html {
    margin: 0;
    min-height: 100%;
    width: 100%;
}

body {
    background-color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("../media/bg.jpg");
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center top;
    min-height: 100%;
    margin: 0;
    width: 100%;
    height: 100vh;
}

.header {
    padding: 0px 0px;
    margin: 0px;
    display:flex;
}

body>.header {
    background-color: rgba(100, 100, 100, .5);
}

.header a {
    border:1px;
    background-color: #5f6f3a;
    color:white;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    margin: 12px 12px;
    padding: 12px 30px;
    width: 70px;
    text-decoration: none;
    display:flex;
    justify-content:center;
}

.header a:hover {
    background-color: #495635;
    color:white;
}

.container {
    background-color: rgba(69, 66, 49, 0.8);
    border-radius: 8px;
    width: 800px;
    color:white;
    margin:20px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

h1, p {
    margin: 0;
    padding: 10px;
}

.content {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.headshot {
    border-radius:50%;
    width: 250px;
    height: 250px;
}


.outer-pdf{
    width: 100%;
    
    -webkit-overflow-scrolling: touch; 
    overflow: hidden;
    flex-grow: 1
}

.desktop-pdf {
    display: block;
    width: 100%;
    height: 100%;
}

.mobile-pdf {
    display: none;
}

@media (max-width: 500px) {
    .header{
        flex-wrap: wrap;
        justify-content: center;
    }

    h1{
        font-size:x-large;
    }
    p{
        font-size:medium;
    }

    .desktop-pdf {
        display: none;
    }
    
    .mobile-pdf {
        display: block;
        width: 100%;
        height: 100%;
    }
    
}